%h1
  = I18n.t('hazard.title')

%div{class: :waiting, id: :waiting}
  = I18n.t('hazard.search_location')
%div{id: 'map-canvas'}
%hr
%ul
  %li
    = link_to I18n.t('navigation.inform'), inform_path
  %li
    = link_to I18n.t('navigation.events'), events_path
  %li
    = link_to I18n.t('navigation.home'), root_path

%hr
= render(partial: 'partials/footlinks', locals: { controller: :home, action: :hazard})

