:javascript
  var setup = function() {
    var disease = document.querySelector('#disease');
    if (disease) {
      disease.onchange = function (selection) {
        var dtype = document.querySelector('#disease_type');
        if (!dtype) { return; };
        if (selection.target.value == "influenza") {
          $(dtype).prop("disabled", false);
        } else {
          $(dtype).prop("disabled", true);
        }
      };
    }

    var msgPack = {
      "confirm": "Do you confirm the disease?",
      "button": "Inform"
    };
    if (document.URL.match("locale=jp")) {
      msgPack = {
        "confirm": "本当に？お大事に…",
        "button": "申告"
      };
    } else if (document.URL.match("locale=fr")) {
      msgPack = {
        "confirm": "Confirmez-vous la contraction?",
        "button": "Enregistrer"
      };
    }
    var button = document.querySelector('#button');
    if (button) {
      button.onclick = function () { return confirm(msgPack.confirm); };
    }

    var setPosition = function(latitude, longitude) {
        var lat = document.querySelector("#latitude");
        var lon = document.querySelector("#longitude");
        if (21 < latitude && latitude < 49
          && 121 < longitude && longitude < 149) {
          if (lat)
            lat.value = latitude;
          if (lon)
            lon.value = longitude;
        } else {
          if (lat)
            lat.value = 35.632291;
          if (lon)
            lon.value = 139.881371;
        }
        if (lat.value != '' && lon.value != '') {
          $(button).removeAttr("disabled");
          button.value = msgPack.button;
        }
    };

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        setPosition(position.coords.latitude, position.coords.longitude);
      });
    } else {
      setPosition(crowdy.map.defaultLat, crowdy.map.defaultLon);
    }
  };

  $(document).ready(setup);
  $(document).load(setup);

%p
  = I18n.t('inform.explanation')

%form{action: 'event', method: :post}
  %p
    %label{for: :disease}
      = I18n.t 'inform.disease'
    %select{id: :disease, name: :disease}
      %option{value: :influenza}
        = I18n.t 'disease.influenza'
      %option{value: :dengue}
        = I18n.t 'disease.dengue'
  %p
    %label{for: :gender}
      = I18n.t 'inform.gender'
    %select{name: :gender}
      %option{value: ""}
        = ""
      %option{value: :male}
        = I18n.t 'inform.male'
      %option{value: :female}
        = I18n.t 'inform.female'
  %p
    %label{for: :age}
      = I18n.t 'inform.age'
    %input{type: :number, name: :age, id: :age, step: 1, min: 0}
  %p
    %label{for: :disease_type}
      = I18n.t 'inform.type'
    %select{id: :disease_type, name: :disease_type}
      %option{value: ""}
        = ""
      %option{value: :a}
        = I18n.t 'inform.a'
      %option{value: :b}
        = I18n.t 'inform.b'
      %option{value: :other}
        = I18n.t 'inform.other'
  %input{type: :hidden, name: :locale, value: I18n.locale}
  %input{type: :hidden, name: :lat, value: '', id: :latitude}
  %input{type: :hidden, name: :lon, value: '', id: :longitude}
  %input{type: :submit, value: I18n.t('inform.search_location'), id: 'button', disabled: true}

%p
  = I18n.t('inform.thanks')

