!!!
%html
  %head
    %title
      Infection Map
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: "initial-scale=1.0, user-scalable=no"}
    - if @agent =~ /iPhone/
      %meta{name: 'apple-mobile-web-app-capable', content: :yes}
    - elsif @agent =~ /iPhone/ or @agent =~ /Android/
      %meta{name: :viewport, content: "user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{type: 'text/javascript', src: "https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAO_gjNW54LtbRI1bAFaD52L0hEBijbRpE&sensor=true"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{id: 'container'}
      %div{id: 'header'}
        %div{id: 'logo'}
          = image_tag 'logo.png', width: '274px', height: '61px', alt: 'Infection Map', title: 'Infection Map'
        %div{id: 'submitbutton'}
          %a{href: inform_path}
            = image_tag 'button.png', width: '56px', height: '57px', alt: 'Declaration Button', title: 'Declare'
            = I18n.t 'home.inform'
      %div{id: 'contents'}
        = yield
      %div{id: 'footer'}
        %ul
          - [:en, :fr, :jp].sort.select{|l| l != I18n.locale}.each do |l|
            %li
              %a{href: "/?locale=#{l}"}
                = l.to_s
          %li
            = link_to(I18n.t('navigation.home'), root_path)
          %li
            = link_to(I18n.t('navigation.project'), project_path)
          %li
            = link_to(I18n.t('navigation.contact'), contact_path)
          %li
            = link_to(I18n.t('navigation.disclaimer'), disclaimer_path)

